@page "/"
@using SharedNotes.Interfaces
@using SharedNotes.Model
@using SharedNotes.Extensions
@attribute [StreamRendering]

@inject INotesRepository Repository
@inject IElasticsearchService Elasticsearch

@rendermode InteractiveServer

<PageTitle>Notes</PageTitle>

<div class="header-panel flex-space-between">
	@if (EditingNoteId == -1)
	{
		<button class="white-button mr-10" @onclick="() => EditNote(0)">New note</button>
	}
	else
	{
		<button class="white-button mr-10 cursor-not-allowed" @onclick="() => EditNote(0)" disabled="disabled">New note</button>
	}
	<div class="width-50">
		<input
			@bind-value="SearchString"
			@bind-value:event="oninput"
			@onkeyup="Search"

			class="header-panel-item input-search"
			placeholder="Search"/>
	</div>
	<div class="header-panel-item ml-10">
		Total notes:
		@if (Notes != null)
		{
			<span>@Notes.Count</span>
		}
	</div>
</div>

<div class="content">
	@if (EditingNoteId != -1)
	{
		<EditForm Model="EditingNote" OnValidSubmit="SaveNote" FormName="EditNoteForm" class="edit-note-form">
			<DataAnnotationsValidator/>

			<div>
				<InputText @bind-Value="EditingNote.Title" class="input-text mb-10" placeholder="Title"/>
			</div>
			<div class="height-20em mb-10">
				<InputTextArea @bind-Value="EditingNote.Body" class="input-text height-20em" placeholder=""/>
			</div>

			<div class="flex">
				<div>
					<button class="white-button mr-10" type="submit">Save</button>
				</div>
				<div>
					<button class="white-button" @onclick="await => CancelNote()">Cancel</button>
				</div>
				<div>
					<ValidationSummary class="validation-errors"/>
				</div>
			</div>
		</EditForm>
	}

	@if (EditingNoteId == -1)
	{
		@if (Notes == null)
		{
			<div class="short-info">Loading...</div>
		}
		else if (!Notes.Any())
		{
			<div class="short-info">No notes</div>
		}
		else
		{
			@if (SearchString == string.Empty)
			{
				ShowNotes = Notes;
			}
			else
			{
				ShowNotes = FoundNotes;
				if (Searching)
				{
					<div class="short-info">Searching...</div>	
				}
				else if (FoundNotes.Count == 0)
				{
					<div class="short-info">Nothing found(</div>
				}
			}
			
			<div>
				@foreach (var item in ShowNotes)
				{
					<div class="note-in-list">
						<div class="flex-space-between">
							<div class="note-in-list-item width-50">@item.Title</div>
							<div class="note-in-list-item" title="Created: @item.Created.ToLocalTime(), Last edit: @item.LastEdit.ToLocalTime()">@item.LastEdit.ToTimeSinceString()</div>
							<div class="note-in-list-item-buttons flex-space-between">
								@if (ViewNote == item.Id)
								{
									<button class="white-button mr-10" @onclick="() => ViewNote = -1">Hide note</button>
								}
								else
								{
									<button class="white-button mr-10" @onclick="() => ViewNote = item.Id">View note</button>
								}
								<button class="white-button" @onclick="() => EditNote(item.Id)">Edit note</button>
							</div>
						</div>
						@if (ViewNote == item.Id)
						{
							<div class="note-in-list-view">
								<p>
									@item.Body
								</p>
							</div>
						}
					</div>
				}
			</div>
		}
	}
</div>

@code {
	private int EditingNoteId = -1; // -1 - none; 0 - new note
	private int ViewNote = -1; // -1 - none

	private List<Note> Notes = null!;

	[SupplyParameterFromForm]
	private Note? EditingNote { get; set; }

	private string NotesIndexName = "notes-index";
	private string SearchString = String.Empty;
	private List<Note> FoundNotes = null!;
	private bool Searching = false;
	
	private List<Note> ShowNotes = null!;

	protected override async Task OnInitializedAsync()
	{
		Notes = Repository.GetAllNotesOrderByLastEditDesc()
			.ToList();

		FoundNotes = new List<Note>();
	}

	private void EditNote(int id)
	{
		if (id == 0) // new note
		{
			EditingNoteId = 0;
			EditingNote = new Note()
			{
				Created = DateTime.UtcNow,
				LastEdit = DateTime.UtcNow,
			};

			return;
		}

		EditingNoteId = id;
		EditingNote = Notes.Find(i => i.Id == id);
	}

	private async Task SaveNote()
	{
		if (EditingNoteId == 0) // new note
		{
			EditingNote.LastEdit = DateTime.UtcNow;
			await Repository.AddNoteAsync(EditingNote);
			await Repository.CommitAsync();

			Notes.Add(EditingNote);
		}
		else
		{
			EditingNote.LastEdit = DateTime.UtcNow;

			await Repository.CommitAsync();
		}

		await Elasticsearch.IndexDocAsync(EditingNote, NotesIndexName);

		EditingNoteId = -1;
		EditingNote = null;

		Notes = Notes
			.OrderByDescending(l => l.LastEdit)
			.ToList();
	}

	private async Task CancelNote()
	{
		EditingNoteId = -1;
		await Repository.ReloadNoteAsync(EditingNote);
		EditingNote = null;
	}

	private async Task Search()
	{
		if (string.IsNullOrWhiteSpace(SearchString))
		{
			FoundNotes = new List<Note>();
			return;
		}

		Searching = true;
		var found = await Elasticsearch.GetNotesAsync(SearchString, NotesIndexName, 0, 100);
		FoundNotes = found.ToList();
		Searching = false;
	}
}